.main {
  padding-top: 85px;
  overflow: hidden;
}
h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 133%;
}
h2 {
  font-weight: 600;
  font-size: 42px;
  line-height: 54px;
  &.big {
    font-size: 45px;
    line-height: 140%;
    font-weight: 500;
  }
  &.sm {
    font-size: 30px;
    line-height: 40px;
  }
}
h3 {
  font-size: 24px;
  line-height: 34px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  &.sm {
    font-size: 16px;
    line-height: 20px;
  }
}
p {
  &.sm {
    font-size: 14px;
    line-height: 20px;
  }
  &.big {
    font-size: 18px;
    line-height: 26px;
  }
}
.button {
  @include transition;
  cursor: pointer;
  display: inline-block;
  &.primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    background: $black;
    border-radius: 100px;
    font-family: $mainFont;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    text-transform: uppercase;
    box-sizing: border-box;
    &.sm {
      font-size: 14px;
      line-height: 18px;
      padding: 16px 30px;
    }
    &:hover {
      opacity: 1;
      background-color: $white;
      color: $primary;
    }
  }
  &.light {
    padding: 12px 24px;
    border-radius: 50px;
    background: $primary;
    font-weight: 500;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    font-family: $mainFont;
  }
  &.delete {
    padding: 12px 24px;
    border-radius: 50px;
    background: #ff7168;
    font-weight: 500;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    font-family: $mainFont;
  }
  &.save {
    padding: 12px 24px;
    border-radius: 50px;
    background: #78af56;
    font-weight: 500;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    font-family: $mainFont;
  }
  &.publish {
    padding: 12px 24px;
    border-radius: 50px;
    background: #ffbaae;
    font-weight: 500;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    font-family: $mainFont;
  }
  &:disabled {
    background: #f7f7f7;
    color: $black;
  }
}
.input {
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 20px;
    @include transformY;
    width: 16px;
    height: 16px;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &--link {
    span {
      color: #5850b1;
    }
    input {
      color: #5850b1 !important;
      padding-left: 42px !important;
    }
  }
  &--password {
    span {
      right: 20px;
      left: unset;
      cursor: pointer;
    }
    input {
      padding-right: 42px !important;
    }
  }
  &--amount {
    input {
      padding-left: 36px !important;
      font-weight: 500 !important;
    }
  }
  &__outer {
    margin-bottom: 24px;

    label {
      font-family: $mainFont;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 10px;
      display: block;
    }
  }
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 14px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    font-family: $mainFont;
    line-height: 20px;
    resize: none;
    border: 1px solid #eed3d0;
    background: rgba(255, 246, 245, 0.47);
  }
}
.check {
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    &:checked + label {
      &::before {
        border: 1px solid $primary;
        background: $primary;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 32px;
    &::before {
      position: absolute;
      top: 50%;
      @include transformY;
      left: 0;
      content: "";
      width: 22px;
      height: 22px;
      border-radius: 4px;
      border: 1px solid #000;
      @include transition;
    }
    &::after {
      position: absolute;
      top: calc(50% - 2px);
      left: 9px;
      width: 5px;
      height: 10px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      @include transition;
      content: "";
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
.share {
  position: relative;
  &__btn {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #bd93f1;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s ease;
    &.active {
      background-color: #7d1ec0;
      opacity: 1;
      svg {
        color: $white;
      }
    }
    &:hover {
      background-color: #7d1ec0;
      opacity: 1;
      svg {
        color: $white;
      }
    }
    svg {
      width: 40%;
      height: 42%;
      color: #292d32;
      transition: 0.3s ease;
      margin-right: 5px;
    }
  }
  &__menu {
    position: absolute;
    top: 100%;
    right: -24px;
    min-width: 210px;
    padding: 18px 20px;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    box-shadow: 50px 95px 135px rgba(122, 119, 137, 0.44);
    background-color: $white;
    box-sizing: border-box;
    margin-top: 20px;
    flex-direction: column;
    z-index: 3;
    display: flex;
    &::before {
      position: absolute;
      bottom: 100%;
      right: 42px;
      width: 16px;
      height: 16px;
      border-top: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      border-top-right-radius: 4px;
      content: "";
      transform: translateY(7px) rotate(-45deg);
      background-color: $white;
    }

    a,
    button {
      font-size: 16px !important;
      line-height: 120% !important;
      color: #212529 !important;
      font-weight: 500 !important;
      margin-bottom: 15px !important;
      display: flex !important;
      align-items: center;
      text-transform: capitalize;
      background: transparent;
      &:hover {
        opacity: 0.8;
      }
      &:last-child {
        margin: 0;
      }
      span {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
        svg {
          width: 100%;
          height: 100%;
          color: $white;
        }
      }
    }
  }
}
.customSelect {
  position: relative;
  margin-left: 12px;
  z-index: 2;
  &__selected {
    width: 140px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #dfe6e9;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    svg {
      width: 14px;
      height: 14px;
      @include transition;
    }
    &.active {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__options {
    position: absolute;
    top: 100%;
    right: -5px;
    min-width: 216px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    box-shadow: 50px 95px 135px rgba(122, 119, 137, 0.44);
    background-color: $white;
    box-sizing: border-box;
    margin-top: 10px;
  }
  &__option {
    background: transparent;
    font-family: $mainFont;
    font-size: 16px;
    line-height: 120%;
    color: $black;
    font-weight: 500;
    display: flex;
    align-items: center;
    @include transition;
    cursor: pointer;
    text-transform: capitalize;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    svg {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
    &:hover {
      opacity: 1;
      color: $primary;
    }
  }
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 156px;
  height: 156px;
  content: "";
  border-radius: 50%;
  opacity: 0.6;
  filter: blur(35px);
  background-color: $primary;
  transform: translate(-36%, -40%);
  pointer-events: none;
}
